parameters:
    level: max
    paths:
    - src

services:
-
    class: DaveLiddament\PhpstanRules\TextMessageSenderCallCheckRule
    tags:
    - phpstan.rules.rule
    arguments:
        allowedCallingClass: DaveLiddament\PhpstanRuleDemo\TextMessageQueueProcessor
        targetClass: DaveLiddament\PhpstanRuleDemo\TextMessageSender
